*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-image: url(/images/download\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #dddddd;
    width: 100%;
}
fieldset{
    border: 0;
    min-width: 20rem;
    max-width: 50rem;
    width: 40rem;
    margin: 1rem auto;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 ;
}
.prefer{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 ;
}
.choose{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 ;
}
h1, h2, h3{
    text-align: center;
}
h1{
    margin: 1rem auto;
}
input{
    display: block;
    margin-top: 1rem ;
    height: 2rem;
}
input[type="radio"]{
    display: inline;
    width: unset;
    height: 100%;
}
input[type="checkbox"]{
    display: inline;
    width: unset;
    height: 100%;
}
input[type="number"]::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    background-color: cornflowerblue;
    color: white;
    height: 2.5rem;
    width: 10%;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    cursor: pointer;
}
.button{
    margin: 0 auto;
}
h4{
padding: 0.5rem 0 0.5rem 0;
}
h3{
margin-top: 1rem; 
}
select{
    height: 1.8rem;
}
input, select{
    background-color: cornflowerblue;
    color: wheat;
    cursor: pointer;
    width: 90%;
    outline: none;
}
input::placeholder{
    color: #dddddd;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}